<h1 class="dark-light-text">{{ 'LetsDiscussChallenges' | translate }}</h1>
<form class="get-in-touch-form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
         <nz-radio-group formControlName="serviceCase">
          <label class="service-option dark-light-text" nz-radio [nzValue]="serviceCaseEnum.Development">SOFTWARE DEVELOPMENT</label>
          <label class="service-option dark-light-text" nz-radio [nzValue]="serviceCaseEnum.Consulting">IT CONSULTING</label>
          <label class="service-option dark-light-text" nz-radio [nzValue]="serviceCaseEnum.AiIntegration">AI INTEGRATION</label>
          <label class="service-option dark-light-text" nz-radio [nzValue]="serviceCaseEnum.UIUX">UI/UX</label>
          <label class="service-option dark-light-text" nz-radio [nzValue]="serviceCaseEnum.Other">OTHER SERVICES</label>
         </nz-radio-group>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please, enter your email">
          <input placeholder="Email" nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
     <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please, enter your Name">
          <input placeholder="Name" nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
       <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input placeholder="Company Name" nz-input formControlName="companyName" id="companyName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please, add description">
          <textarea placeholder="Tell us about your project" rows="4" formControlName="aboutCompany" nz-input></textarea>
        </nz-form-control>
      </nz-form-item>
       <nz-form-item>
        <!-- <nz-form-control [nzSm]="14" [nzXs]="24">
         <nz-upload
            [nzBeforeUpload]="beforeUpload"
            [nzShowUploadList]="false">
            <button nz-button>
              <nz-icon nzType="upload" />
              <span class="dark-light-text-reverse">Click to Upload</span>
            </button>
          </nz-upload> -->
           <!-- <div *ngIf="selectedFile" class="file-preview">
              <nz-tag [nzMode]="'closeable'" (nzOnClose)="removeFile()">
                {{ $any(selectedFile).name }} ({{ ($any(selectedFile).size / 1024).toFixed(1) }} KB)
              </nz-tag>
            </div> -->
        <!-- </nz-form-control> -->
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control nzErrorTip="Its requried" [nzSpan]="14" [nzOffset]="1">
          <label nz-checkbox formControlName="agree">
            <span class="dark-light-text">
              {{ 'AcceptPrivacy' | translate }}
            </span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="5">
          <button class="dark-light-text-reverse" style="width: 100px;" nz-button nzType="primary">Send</button>
        </nz-form-control>
      </nz-form-item>
</form>

<style>
    [nz-form] {
        max-width: 600px;
      }

      .ant-select.ant-select-in-form-item.phone-select {
        width: 80px;
      }

      .register-area {
        margin-bottom: 8px;
      }

</style>