.msg-block {
    border: none !important;
    padding: 3vw;
}

.title-block {
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 2vw;
    color:#313131;
    font-style: normal;
    margin: 0;
}

.social-links {
    display: flex;
    gap:10px;
    align-items: center;
}

.icon {
    color: var(--app-text-color) !important;
}